@charset "UTF-8";

.fact-result { border-style: solid; border-color: black; border-width: 0px; background-color: transparent; overflow: auto; font-family: Arial, Helvetica, sans-serif; }

.fact-result-container { border-style: solid; border-color: black; border-width: 0px; }

.fact-node { border-top-width: 1px; }

.fact-right-container-subj { width: 600px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; }
.fact-right-container-pred { float: right; width: 400px; border-left-width: 1px; margin-top: -1px }
.fact-right-container-obj { float: right; width: 200px; border-left-width: 1px; margin-top: -1px }

.fact-left-container-obj { width: 600px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; }
.fact-left-container-pred { float: left; width: 400px; border-right-width: 1px; margin-top: -1px; }
.fact-left-container-subj { float: left; width: 200px; border-right-width: 1px; margin-top: -1px; }
